svg[height='0'] {
  position: fixed;
}

div {
  background: 
    radial-gradient(circle, mediumturquoise, darkslateblue);
  filter: (url(#grainy));

  
}

html, body, div {
  display: grid;
}

html {
  height: 100%;

}

body {
  grid-template-rows: 1fr max-content;

}


